PetHealth_FE/node_modules/
PetHealth_FE/dist/
PetHealth_BE/bin/
PetHealth_BE/obj/
PetHealth_BE/src/appsettings.Local.json
.npm-cache/
.nuget/
.tmp/
PetHealth_BE/.api.log
PetHealth_BE/.api.err.log
PetHealth_FE/.vite.log
PetHealth_FE/.vite.err.log
PetHealth_BE/*.mdf
PetHealth_BE/*.ldf
